<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Eater</title>
    <!-- custom css file link  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<style>
    body {
    background-image: url('static/images/harass.png');
}
</style>
<body>
    <div class="test">
       <br><h1 style="color:purple">Enter your comment here to test the harrassment detector<br></h1>
        <form action="pred.html" method="post">
        <textarea id="inp" name="inp" required style="width:300px;height:50px"></textarea><br>
        <input type="submit" style="padding: 16px 32px;background-color:#FFA500" value="SEND"/>
        </form>
    </div>
</body>
</html>
