<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header class="header">

        <p class="logo"> <span>HARASSMENT</span>DETECTOR </p>
    
    </header>
    <div class="test">
    <h1><p><span>"{{shit}}" is considered {{pred}}. {{verdict}}</span></p></h1>
    </div>
</body>
</html>
